Path       : {{ .Path }}
Name       : {{ .Name }}
Type       : {{ .Type }}
Sample Rate: {{ .SampleRate }}
Bit Depth  : {{ .BitDepth }}
Codec      : {{ .Codec }}
Channels   : {{ .Channels }}
Duration   : {{ .Duration }}s
Keywords   : {{ .Keywords }}